@page "/Version"

<!doctype html>
<html>
    <head>
        <title>Versoin</title>
    </head>
    <body>
        <h1>v1</h1>
        <hr />
        @DateTime.Now.ToShortDateString()
    @{
        var message = "wercom";
    }
    <h3>@message</h3>
    </body>
</html>